Repository p4sstime/p4ss, pull requests merged in 2025-03, with the labels that each got.

#65 Fix lock-on issues by making `tf_passtime_mode_lock_eye_to_eye` LOS only
  src/game/shared/tf/passtime_convars.cpp
  src/game/shared/tf/passtime_convars.h
  src/game/shared/tf/tf_weapon_passtime_gun.cpp
Labels: cvar, -REVIEW

#63 Map_Background Initial Fixes
  game/p4ss/resource/ui/mainmenuoverride.res
  src/game/client/tf/tf_hud_mainmenuoverride.cpp
Labels: help wanted, HUD

#64 Added new throw controls
  src/game/shared/tf/tf_weapon_passtime_gun.cpp
  src/game/shared/tf/tf_weapon_passtime_gun.h
Labels: gameplay, cvar

#70 Implement leaderboard stats
  .clang-format
  .clangd
  .gitignore
  src/game/client/tf/c_tf_playerresource.cpp
  src/game/client/tf/p4ssutils.cpp
  src/game/client/tf/tf_hud_mainmenuoverride.cpp
  src/game/client/tf/tf_hud_statpanel.cpp
  src/game/client/tf/vgui/tf_clientscoreboard.cpp
  src/game/client/tf/vgui/tf_clientscoreboard.h
  src/game/server/tf/tf_gamestats.cpp
  src/game/server/tf/tf_gamestats.h
  src/game/server/tf/tf_passtime_logic.cpp
  src/game/server/tf/tf_player_resource.cpp
  src/game/server/tf/tf_player_resource.h
  src/game/shared/tf/tf_gamestats_shared.h
Labels: server code, client code

#75 Custom Keybinds & Configuration
  .gitignore
  game/p4ss/cfg/config_default.cfg
  game/p4ss/resource/p4ss_english.txt
  game/p4ss/scripts/kb_act.lst
Labels: documentation, HUD, configuration, client code

#103 New throw controls with buffer
  src/game/client/tf/c_tf_player.cpp
  src/game/client/tf/c_tf_player.h
  src/game/server/tf/tf_player.cpp
  src/game/server/tf/tf_player.h
  src/game/shared/tf/tf_gamerules.cpp
  src/game/shared/tf/tf_weapon_passtime_gun.cpp
  src/game/shared/tf/tf_weapon_passtime_gun.h
Labels: cvar, server code, client code

#120 Options for jack crosshair customization
  src/game/client/tf/c_tf_passtime_logic.h
  src/game/client/tf/c_tf_player.h
  src/game/client/tf/tf_hud_passtime_reticle.cpp
  src/game/client/tf/tf_hud_passtime_reticle.h
  src/game/shared/tf/tf_weapon_passtime_gun.h
Labels: cvar, client code
